{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "script-exporter.fullname" . }}
  labels:
    {{- include "script-exporter.labels" . | nindent 4 }}
    {{- include "script-exporter.serviceMonitorLabels" . | nindent 4 }}
    namespace: {{ default .Release.Namespace .Values.serviceMonitor.namespace }}
spec:
  endpoints:
    - port: http
      {{- with .Values.serviceMonitor.interval }}
      interval: {{ . }}
      {{- end }}
      {{- with .Values.serviceMonitor.scrapeTimeout }}
      scrapeTimeout: {{ . }}
      {{- end }}
      path: /metrics
      honorLabels: {{ .Values.serviceMonitor.honorLabels }}
      {{- with .Values.serviceMonitor.metricRelabelings }}
      metricRelabelings:
      {{ toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.serviceMonitor.relabelings }}
      relabelings:
      {{ toYaml . | nindent 6 }}
      {{- end }}
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      {{- include "script-exporter.selectorLabels" . | nindent 6 }}
{{- range (fromYaml .Values.config).scripts }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    {{- include "script-exporter.labels" $ | nindent 4 }}
    {{- include "script-exporter.serviceMonitorLabels" $ | nindent 4 }}
  name: {{ include "script-exporter.fullname" $ }}-{{ kebabcase .name }}
  namespace: {{ default $.Release.Namespace $.Values.serviceMonitor.namespace }}
spec:
  endpoints:
    - path: /probe
      port: http
      params:
        script:
          - {{ .name }}
      relabelings:
        - action: replace
          replacement: {{ .name }}
          targetLabel: script
  namespaceSelector:
    matchNames:
      - {{ $.Release.Namespace }}
  selector:
    matchLabels:
      {{- include "script-exporter.selectorLabels" $ | nindent 6 }}
{{- end }}
{{- end -}}
