name: Build, Deploy pipeline

permissions:
  checks: write
  contents: read
on:
  push:
    branches:
      - main
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v5
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Get dependencies
        run: go mod download

      - name: Test
        run: go test ./...

      - name: Build
        run: make release

      - name: Upload
        run: |
          ./upload.sh ./bin/script_exporter-darwin-amd64 application/x-binary
          ./upload.sh ./bin/script_exporter-linux-amd64 application/x-binary
          ./upload.sh ./bin/script_exporter-linux-armv7 application/x-binary
          ./upload.sh ./bin/script_exporter-linux-arm64 application/x-binary
          ./upload.sh ./bin/script_exporter-windows-amd64.exe application/x-binary
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to docker.artifactory.brandwatch.com
        uses: docker/login-action@v3
        with:
          registry: docker.artifactory.brandwatch.com
          username: github-actions-docker-push
          password: ${{ secrets.ARTIFACTORY_DOCKER_PUSH_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ format('{0}/{1}-{2}', github.event.repository.name, github.ref_name, 'amd64') }}
            ${{ format('{0}/{1}-{2}', github.event.repository.name, github.ref_name, github.run_id) }}
