name: Continuous Integration

on:
  pull_request:

jobs:
  go:
    name: Go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      - name: Lint
        uses: golangci/golangci-lint-action@v5
        with:
          args: --config=./.github/golangci.yaml
          skip-cache: true

      - name: Test
        run: go test ./...

      - name: Build
        run: make release

      - name: Upload Artifacts (darwin-amd64)
        uses: actions/upload-artifact@v4
        with:
          name: script_exporter-darwin-amd64
          path: bin/script_exporter-darwin-amd64
          if-no-files-found: error

      - name: Upload Artifacts (darwin-arm64)
        uses: actions/upload-artifact@v4
        with:
          name: script_exporter-darwin-arm64
          path: bin/script_exporter-darwin-arm64
          if-no-files-found: error

      - name: Upload Artifacts (linux-amd64)
        uses: actions/upload-artifact@v4
        with:
          name: script_exporter-linux-amd64
          path: bin/script_exporter-linux-amd64
          if-no-files-found: error

      - name: Upload Artifacts (linux-armv7)
        uses: actions/upload-artifact@v4
        with:
          name: script_exporter-linux-armv7
          path: bin/script_exporter-linux-armv7
          if-no-files-found: error

      - name: Upload Artifacts (linux-arm64)
        uses: actions/upload-artifact@v4
        with:
          name: script_exporter-linux-arm64
          path: bin/script_exporter-linux-arm64
          if-no-files-found: error

      - name: Upload Artifacts (windows-amd64.exe)
        uses: actions/upload-artifact@v4
        with:
          name: script_exporter-windows-amd64.exe
          path: bin/script_exporter-windows-amd64.exe
          if-no-files-found: error
